---
---

@import "{{ site.theme }}";


.project-name > a {
    color: #fff;
}



// Override theme's settings
section {
    max-width: 600px;
}
ol {
    margin: 10px;
}


// personal preferences
h2 {
    font-weight: bold;
}

h2::before {
  content: "\1F3A5"; /* Unicode value for the movie camera emoji */
  margin-right: 10px; /* Adjust the value as needed */
}

// Hide this element <a href="">View My GitHub Profile</a>
//  p.view {
//    display: none;
//  }


// h3::before {
//   content: "\25B6"; /* Unicode value for the play emoji */
//   margin-right: 10px; /* Adjust the value as needed */
// }

ul {
  list-style-type: disclosure-closed;
  padding-bottom: 40px;
  padding-left: 55px;
}

ul li {
  padding-left: 25px; /* Adjust the value as needed */
}





/* Style for the TOC container */

#toc {
  // max-height: 500px;
  background-color: #f5f5f5;
  padding: 10px;
  border: 1px solid #ddd;
  margin-bottom: 40px;
}

/* Style for the TOC headings */
#toc a {
  display: block;
  margin-left: 10px;
}

// #toc h1 {
//   font-size: 18px;
//   margin-top: 0;
// }

// #toc h2 {
//   font-size: 16px;
//   margin-top: 10px;
// }

// #toc h3 {
//   font-size: 14px;
//   margin-top: 10px;
// }
